
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>

	<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=395715373788921";
				  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
			</script>


<script type="text/javascript">

$(document).ready(function(){
// alert('hai');
   $('#facebook_info').dialog({
      			autoOpen: false,
				width : 460,
				height : 500      


      });
     
   $('#twitter_info').dialog({
      			autoOpen: false,
				width : 460,
				height : 500      


      });
    $('#facebook_wall').scroll();
        $('#twitter_wall').scroll();
    $('.facebook_button').click(function(){
		$('#facebook_info').dialog('open');
	
      });
    $('.twitter_button').click(function(){

                  $('#twitter_info').dialog('open');
  
     });

});

</script>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="1010" align="center">
      <tbody><tr>
        <td><img src="/assets/home.jpg" usemap="#Map" border="0" width="1010"></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>

<map name="Map" id="Map"><area shape="rect" coords="743,103,776,137" href="#" class ="facebook_button"><area shape="rect" coords="796,103,830,137" href="#" class = "twitter_button"></map>
	

  	<div  title = "<%= @graph_info['name'] %>" id ="facebook_info" style = "width:400px; height 50px; font:8px; tahoma,verdana; background-color:#F3F3F3;"> 
		
		<div id= "picture" style = "width:400px; height 50px; font:8px; tahoma,verdana; background-color:#d2e4e6;" >
		<table><tr>
			<td width = "120"><%=link_to image_tag(@graph_info['picture']),"http://www.facebook.com/#{@graph_info['link']}" %></td> 
			<td>  <%= link_to "#{@graph_info['name']}","http://www.facebook.com/#{@graph_info['link']}",{:style=>'color:#333333;' ,:target =>'blank'} %><br>
			     <%= link_to "#{@graph_info['website']}","http://#{@graph_info['website']}",{:style=>'color:#3BCCF8;'} %><br></td>
			</tr>
		</table>
		</div><br>
		<div id="like_button" 	style = "width:400px; font:12px tahoma,verdana;">
		<div id="fb-root"></div>
		<div class="fb-like" data-href="http://www.facebook.com/pages/Ziqqu/170880032923050" data-send="false" data-width="100" data-layout = "button_count" data-show-faces="false" data-font="verdana" ></div>
                <div class="fb-send" data-href="http://www.facebook.com/pages/Ziqqu/170880032923050" data-font="verdana"></div>
		<div class="fb-subscribe" data-href="http://www.facebook.com/pages/Ziqqu/170880032923050" data-show-faces="false" data-width="200"></div>
		</div>
		
	
	 <div id="info" style = "width:400px; font:12px tahoma,verdana;">
		 
		<h4 style =  "color:#3096a2;"> Mission:</h4><em><%= @graph_info['mission'] %></em><br>
		<h4 style =  "color:#3096a2;"> Description:</h4><em><%= @graph_info['description'] %></em><br>
		<h4 style =  "color:#3096a2;"> About:</h4><em><%= @graph_info['about'] %></em><br>  
	</div>
			<h4 style =  "color:#3096a2;">Ziqqu Wall </h4>
			<!--facebook_wall  div starts  -->
          <div id = "facebook_wall"  style = "width:400px; height:250px; border:1px solid;border-color:#59acb4;-moz-border-radius:15px; font:12px tahoma,verdana; overflow: auto;" >

		<%@graph_info_feed.first(10).each do|graph_wall| %>
		<table cellpadding="10" style= "margin-top:0px; " >
			<% if graph_wall['message']%>
				<tr><td valign= "top" ><table style= "margin-top:0px; position:relative;top:0px;"><tr>
				<td valign = "top"><%= image_tag (@graph.get_picture(Integer(graph_wall['from']['id'])))%></td></tr>
				</table></td>
				<td><%# graph_wall['message'] %><br>
					<%= graph_wall['name'] %><br>
				 	<%=link_to "#{graph_wall['caption']}","http://#{graph_wall['caption']}",{:style=>'color:#1212DE;'} %><br> 						<em><%= graph_wall['description'] %></em><br> 
					<%=link_to "#{graph_wall['link']}",graph_wall['link'] ,{:style=>'color:#1212DE;'}%><br>
					 Likes </tab>  comments<%= graph_wall['comments']['count']%> <br>
				</td></tr>
			<%else%>
 				<tr><td><table style= "margin-top:0px; position:relative;top:0px;"><tr>
				<td valign = "top"><%= image_tag (@graph.get_picture(Integer(graph_wall['from']['id'])))%></td></tr>
				</table></td>
				<td><%= graph_wall['story']%> <br>
				   likes  comments <%= graph_wall['comments']['count']%> <br></td>
				</tr>
			<%end%>
		</table>
		<%end%>
	</div>
		<!--facebook_wall  div ends  -->
	<div id = "photos" style = "width:400px;font:12px tahoma,verdana;">
	<h4 style =  "color:#3096a2;"> Ziqqu Photos</h4>
		<%@graph_photos.first(2).each do|graph_photo| %>
			<%= image_tag(graph_photo['picture'])%> 		
		<%end%>
 	
	</div>
	<div id="likes" style = "width:400px; font:12px tahoma,verdana;">
		<h4 style =  "color:#3096a2;">Ziqqu Likes</h4><br>
         	<%@graph_likes.first(10).each do |friend|%>
    			  <%=link_to image_tag(@graph.get_picture(friend['id'])),"http://www.facebook.com/#{friend['id']}",{:style=> 'color:#1212DE;',:target => "blank"}%> 
    		<%end%>
  	</div> 
       
</div>




<div title = "ZiqquMusic"  id = "twitter_info" style = "width:400px; height 50px; font:8px; tahoma,verdana; background-color:#F3F3F3;" >

		<table bgcolor="#d2e4e6" cellpading= "4" cellspacing="2" style="font-family: tahoma,verdana; font-size: 12px; color: #000000; font-weight: normal; width:400px">
		<tr>
			<td style="padding-left:10px;" width = "70">
				<%=link_to image_tag(@client.profile_image_url,:size => "50x50"),"#{@client.screen_name}",{:style=> 'color:#1212DE;',:target => "blank"}%></td>
			<td><%=link_to @client.name,"https://twitter.com/#!/#{@client.screen_name}",{:style=> 'color:#333333;',:target => "blank"}%><br>
	                    <%=link_to "@#{@client.screen_name}","https://twitter.com/#!/#{@client.screen_name}",{:style=> 'color:#7795CE;',:target => "blank"}%><br>
			    <%# @client.location%><%= link_to "#{@client.url}","#{@client.url}",{:style=> 'color:#3BCCF8;',:target => "blank"} %><br>
			<a href="https://twitter.com/ziqqumusic" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="medium"data-show-screen-name = "false">Follow @twitter</a>

			       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
	
		        </td>
		</tr>
		</table>
		<div id="twitter_description" style = "width:400px; height 50px; font:8px; tahoma,verdana;" >
		<table style="font-family: tahoma,verdana; font-size:12px; color:#000000; font-weight:normal; width:400px"><tr>
		<td><%="Following:#{@client.friends_count}"%></td>
		<td>Follower:<%= @client.followers_count%></td>
		<td>Favourites:<%=@client.favourites_count%></td>
		</tr></table>
		<div style="font-family: tahoma,verdana; font-size:12px;"><em><%= @client.description %></em></div>
		</div>
		<h5 style =  "color:#3096a2;"> Ziqqu Tweets:</h5>
		<div id = "twitter_wall"  style = "width:400px; height:250px; border:1px solid;border-color:#59acb4;-moz-border-radius:15px; font:12px tahoma,verdana; overflow: auto;" >
		<table cellpadding="10" style= "margin-top:0px; " >
		<%@user_timeline.first(10).each do |tweet|%>
		<tr><td valign= "top" width = "50" >
			<%=link_to image_tag(tweet.user['profile_image_url']),"https://twitter.com/#!/#{tweet.user['screen_name']}",{:style=> 'color:#1212DE;',:target => "blank"}%></td>
		<td><%=link_to tweet.user['name'], "https://twitter.com/#!/#{tweet.user['screen_name']}",{:style=> 'color:#1212DE;',:target => "blank"}%>
		@<%= link_to tweet.user['screen_name'], "https://twitter.com/#!/#{tweet.user['screen_name']}",{:style=> 'color:#1212DE;',:target => "blank"}%>
         	 <%=Time.parse("#{tweet['created_at']}")%><br>
		<em><%= tweet.text %></em><br>
		</td></tr>
		<%end%>	
		</table>
		</div>

	</div>
